[submodule "custom-courseware-ui"]
	path = ui
	url = git@github.com:JamesAyres16/custom-courseware-ui.git
[submodule "custom-courseware-api"]
	path = api
	url = git@github.com:JamesAyres16/custom-courseware-api.git
